

<nav>
  <div class="nav-wrapper orange">
    <a href="" class="brand-logo center"><h4 class="black-text">Domicilios </h4></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="">sass</a></li>
    </ul>
  </div>
</nav>
 
 <div class="row">
          <div class="col s12"><p>presentaciòn</p> 
          
          </div>
    
           <div class="col s12 m4 l3">
                <div class="row">
                  <div class="col s12 m12">
                    <div class="card-panel orange">
                      <span class="white-text"> <h4 class="black-text">Menù </h4>
                      <b class="black-text">°Principio:</b><br>
                      -arroz<br>-espagueti<br>-pure de papa<br>
                      <b class="black-text">°Sopa:</b><br>
                      -sopa de auyama<br>-sancocho<br>-sopa de pastas<br>
                      <b class="black-text">°Bebida:</b><br>
                      -gaseosa<br>-jugo natural<br>-cerveza<br>
                      <b class="black-text">°postre:</b><br>
                      -helado<br>-brownie<br>-gelatina<br>

                      </span>
                    </div>
                  </div>
                </div>         
           </div>

           <div class="col s12 m4 l9">
                <app-disc-crear-pedido>
                </app-disc-crear-pedido>
            </div>

   </div>
   

          

